language: java

jdk: 
  - openjdk8

branches:
  only:
  - master
  - development

before_script:
  - ls -la

script:
  - mvn clean package jacoco:report coveralls:report 

after_success:
  - bash <(curl -s https://codecov.io/bash) -t 92fd765d-91fa-4649-b5c9-ea2a3037b130
  - echo "Process terminated successfully"
